* {
  padding: 0;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.bg-pattern {
  position: absolute;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

p {
  line-height: 25px;
  color: #9095a7;
  font-size: 16px;
  font-weight: 400;
}

.btn-get-started {
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #f25f3a;
  box-shadow: 0px 0px 10px 0px #f25f3a;
}
.btn-get-started:hover {
  cursor: pointer;
}

.btn-footer {
  background-color: #fff;
  color: #f25f3a;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-go {
  background-color: #f25f3a;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

footer {
  margin-top: 150px;
  width: 100%;
  color: #fff;
}
footer .first-section-footer {
  width: 100%;
  background-color: #f25f3a;
  display: flex;
  justify-content: center;
}
footer .first-section-footer .article-first-part-footer {
  max-width: 1320px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .second-section-footer {
  width: 100%;
  background-color: #1d1e25;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .second-section-footer .article-second-part-footer {
  max-width: 1320px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .second-section-footer .article-second-part-footer .figure-footer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .second-section-footer .article-second-part-footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .second-section-footer .article-second-part-footer .container-input {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .second-section-footer .article-second-part-footer .container-input .box-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
footer .second-section-footer .article-second-part-footer .container-input .box-input input {
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
}
footer .second-section-footer .article-second-part-footer .container-input .p-copyright {
  font-size: 14px;
}

.logo-manage-footer {
  fill: #fff;
}

.main-header {
  margin-top: 50px;
  max-width: 1320px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  z-index: 3;
}
.main-header .nav-header .ul-nav-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  color: #242d52;
  font-weight: 500;
  cursor: pointer;
}

.container-intro {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1320px;
  display: flex;
  z-index: 3;
  flex-direction: row;
  gap: 15%;
}
.container-intro .box-intro {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.container-intro .box-intro .title-intro-carrousel {
  font-size: 60px;
  color: #242d52;
}
.container-intro .box-intro .p-intro-carrousel {
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  margin-top: -65px;
  color: #9095a7;
}
.container-intro .box-intro .btn-carrousel {
  margin-top: -55px;
}
.container-intro .figure-intro {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

.container-whats-different {
  margin-top: 70px;
  width: 100%;
  max-width: 1320px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10%;
  margin-bottom: 150px;
}
.container-whats-different .box-intro-different {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.container-whats-different .box-intro-different .title-different {
  font-size: 35px;
  color: #242d52;
  width: 85%;
  margin-bottom: 30px;
}
.container-whats-different .box-intro-different .p-intro-different {
  width: 62%;
  color: #9095a7;
  font-size: 16px;
  font-weight: 400;
}
.container-whats-different .box-list-about-manage {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-whats-different .box-list-about-manage .list-about-manage {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.li-about-manage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
.li-about-manage .number-li-manage {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background-color: #f25f3a;
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
}
.li-about-manage .li-description-box .title-li-manage {
  color: #242d52;
  margin-bottom: 15px;
  margin-top: 5px;
}

.section-what-they-said {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.section-what-they-said .title-what-they-said {
  color: #242d52;
  margin-bottom: 50px;
}
.section-what-they-said .box-profil-comments {
  width: 100%;
  margin-bottom: 35px;
  width: 1440px;
  overflow: hidden;
  height: 380px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.ul-profil-comment {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
}
.ul-profil-comment .li-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  gap: 25px;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 25px;
}
.ul-profil-comment .li-profil .figure-avatar .img-avatar {
  width: 80px;
  margin-top: -150px;
}
.ul-profil-comment .li-profil .profil-name {
  color: #242d52;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
